.main{
  
  
  .assessment{    
    h1{
      margin-right: 50px;           
    }
    .dropdown-title{
      color: #212529;
    }
    li{
      height: 24px;
    }
    .main-open{
      margin-bottom: 6px;
    }
    .material-icons-outlined{
      
      height: 24px;
    }
  }
  .list-group-menu{
    width: 320px;
  }
  .list-group-item.active{
    background-color:#F8F9FA;
    border-color:#CED4DA ;
  }
  .collapse-menu{
    width: 320px;
  }
  
  .list-group-item{
    background-color:#FFFFFF;
  }

  .card{
    .card-header{
      line-height: 24px;
    }
    .card-img1{
      width: 40px;
      height: 40px;
    }
    .material-icons-outlined{
      vertical-align: bottom;
    }
    .card-body{    
       
      .card-body-info{
        font-size: 14px;
        
      }
    }
    .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
      height: 277px;
    }
    .text-none{
      display: none;
    }
    
    .text-show{
      display: block;
    }
    .text-hide{
      display: none;
    }

  }
  
}

